*{
  margin: 0%;
  padding: 0%;
}

header{
  background-color: blue;
  padding: 15px 15px;
  color: white;
  
}

.paragrafo_react{
  margin-left: 15px;
  font-size: 20px;
}

.subtitulo{
  text-align: center;
 
 background-color: #0000e6;
}

.subtitulo_react{
color:white;
}

.titulo_biblioteca{
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: 45px;
  margin-bottom: 120px;
}

a{
  color:white;
  padding: 15px 45px;
  background-color: black;
  text-decoration: none;
  border-radius: 50px;
 position: relative;
 bottom: 60px;
}

a:hover{
  color:black;
  background-color: white;
  
}

.requisitos{
  text-align: center;
  padding-top: 35px;
}

.elementos{
  margin-top: 15px;
  background-color: #52527a;
  padding: 60px 15px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 5px 5px 5px #666666;
}

.agrupar{
  display: flex;
  justify-content: space-around;
 
}

footer{
  text-align: center;
  font-size: 22px;
  margin-top: 25px;
  font-weight: bold;
}